<div class="mar">
</div>


<%= form_tag(flights_path, method: :get) do %>

<%= select_tag :departure_code,
options_for_select(@departure_airport,
params[:departure_code]),
prompt: 'Select Departure Airport' %>
  
<%= select_tag :arrival_code,
options_for_select(@arrival_airport,
params[:arrival_code]),
prompt: 'Select Arrival Airport' %>

<%= select_tag :date,
options_for_select(Flight.pluck(:start),
params[:date]),
prompt: 'Select Date' %>


<h3>Number of Passengers</h3>
<%= number_field_tag :num_tickets,
params[:num_tickets],
in: 1..4,
placeholder: 'num' %>
<%= submit_tag 'Search Flights' %>
<% end %>


<h1>Choose a Flight</h1>

<%= form_tag(new_booking_path, method: :get) do %>
  <%= hidden_field_tag :num_tickets, params[:num_tickets] %>

  <% if @recommended_flight.present? %>
    <table>
      <thead>
        <tr>
          <th>Select</th>
          <th>ID</th>
          <th>Departure Airport ID</th>
          <th>Arrival Airport ID</th>
          <th>Start</th>
          <th>Flight Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @recommended_flight.each do |flight| %>
          <tr>
            <td><%= radio_button_tag 'selected_flight_id', flight.id %></td>
            <td><%= flight.id %></td>
            <td><%= flight.departure_airport_id %></td>
            <td><%= flight.arrival_airport_id %></td>
            <td><%= flight.start %></td>
            <td><%= flight.flight_duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= submit_tag 'Proceed to Booking' %>
  <% else %>
    <p>No recommended flights found.</p>
  <% end %>
<% end %>