<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:key, nil, placeholder: "Search") %>
      <%= submit_tag "Submit" %>
    <% end %>
    <%= yield %>
  </body>
</html>
